Operating System Lab/Scheduling Algorithms/PriorityScheduling.exe
Operating System Lab/Scheduling Algorithms/RoundRobin.exe
Operating System Lab/Scheduling Algorithms/FirstComeFirstServe.exe
Operating System Lab/Scheduling Algorithms/ShortestJobFirst.exe
